NEXT_PUBLIC_SUPABASE_URL=https://vfafriypmhjibngnwivy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZmYWZyaXlwbWhqaWJuZ253aXZ5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk0NzYwMjQsImV4cCI6MjEwNTA1MjAyNH0.CHwS_lP5gpjGp0gZNyra_3UE4Q5M8wHuiFX4ieeV4Aw